.venv/
.vscode/
__pycache__/

raportti/

# ignore .csv as they arent needed in source control
*.csv

# ignore python pickle files too
*.plk

# ignore instructions, tex files and intermediates
*.pdf
# *.bst
# *.bib
# *.cls
# *.syntex.gz
# *.tex